{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class='container'>
<br>
<br>
<div class="card text-dark bg-light fw-800" >
            <div class='position-relative mb-3'>
                <div class='position-absolute top-0 start-0'>
                    <h4 class="text-dark mx-3 mt-2"> Asset Master Maintenance </h4>
                    
                </div>
                
            </div>
            
            <br>
            <hr>
            
            
        <div class="card-body">
            <form class="form" action="" method="POST">
                      {% csrf_token %}

                      <div class="form-group">
                        <label class='mb-3 f-4' for="asset_name"> &numsp; Enter Asset</label>
                        <input required type="text" name="asset_name" id='asset_name'
                        placeholder='Enter Asset' list= 'asset_name-list' class='form-control' />
                        <datalist id="asset_name-list">
                          <!--select id="vip_name"-->
                            {% for asset in assets %}
                            <option value="{{asset.asset_name|title}}"></option>
                            <!--<option value="{{vip.vip|title}}">{{vip.vip}}</option>-->
                            {% endfor %}
                          <!--/select-->
                        </datalist>
                      </div>


                      
                    <br>
                    
                      <div class="form__action m-3">
                        <a class="btn btn-dark w-20" href="{{request.META.HTTP_REFERER}}">Cancel</a>
                        <button class="btn btn-primary w-20" type="submit">Submit</button>
                      </div>
            </form>
          </div>
        </div>
    </div>
{% endblock content%}